@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Instrument Sans', sans-serif;
}

html, body, #root {
    @apply h-full bg-gray-100;
}

@layer components {

}

h1, h2, h3, p, i, button {
    @apply text-white;
}

a {
    @apply text-gray-800;
}

a:hover {
    @apply text-gray-900;
}

table {
    @apply text-left;
}

thead {
    @apply text-white;
}

hr {
    @apply border-gray-300;
}

input.disabled, button.disabled {
    @apply bg-gray-500 cursor-no-drop;
}

button.main, a.main, input[type = "submit"].main {
    @apply bg-red-500 h-12 px-5 py-2 rounded-lg text-white hover:bg-red-700 transition-colors duration-150 ease-out;
}

button.secondary, a.secondary {
    @apply bg-gray-500 h-10 px-5 py-2 rounded-lg text-white hover:bg-gray-300 transition-colors duration-150 ease-out;
}

button.rounded, a.rounded {
    @apply hover:bg-gray-300 rounded-full;
}

a.highlight {
    @apply text-red-500;
}

input {
    @apply bg-gray-500 h-12 px-5 py-2 rounded-lg text-white outline-none focus:ring-2 ring-red-500 transition-shadow duration-150 ease-out;
}

input::-webkit-slider-runnable-track {
    @apply h-2 bg-gray-100 rounded-full;
}

input::-webkit-slider-thumb {
    @apply relative top-[-2px] appearance-none aspect-square rounded-full h-2 border-[6px] border-solid border-gray-400 z-10;
}

input:hover::-webkit-slider-thumb {
    @apply visible;
}

button {
    @apply aspect-square h-10 rounded-full;
}

button.selected {
    @apply bg-red-500 rounded-full aspect-square;
}
