@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Instrument Sans', sans-serif;
}

html, body, #root {
    @apply h-full bg-gray-500;
}

@layer components {

}

h1, h2, h3, p, a {
    @apply text-white;
}

input::-webkit-slider-runnable-track {
    @apply h-2 bg-gray-500 rounded-full;
}

input::-webkit-slider-thumb {
    @apply relative top-[-2px] appearance-none aspect-square rounded-full h-2 border-[6px] border-solid border-gray-400 z-10;
}

input:hover::-webkit-slider-thumb {
    @apply visible;
}

button {
    @apply aspect-square h-10 rounded-full;
}

button.selected {
    @apply bg-red-500 rounded-full aspect-square;
}
