@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Instrument Sans', sans-serif;
}

@layer components {
    html {
        @apply bg-gray-900 overflow-x-hidden;
    }

    html, body, #root {
        @apply h-full
    }

    h1 {
        @apply text-white text-2xl;
    }

    p {
        @apply text-white;
    }

    a {
        @apply text-white;
    }

    button {
        @apply text-white cursor-pointer;
    }

    button.icon {
        @apply flex items-center space-x-3;
    }

    .navlink {
        @apply rounded-lg px-5 py-2;
    }

    input {
        @apply bg-gray-500 h-12 px-5 py-2 rounded-lg text-white outline-none focus:ring-2 ring-blue-500 transition-shadow duration-150 ease-out;
    }

    input.menu {
        @apply bg-gray-700;
    }

    button.main, input[type = "submit"].main {
        @apply bg-blue-500 h-12 px-5 py-2 rounded-lg text-white hover:bg-blue-700 transition-colors duration-150 ease-out;
    }

    button.secondary {
        @apply bg-gray-500 h-10 px-5 py-2 rounded-lg text-white hover:bg-gray-300 transition-colors duration-150 ease-out;
    }

    button.menu {
        @apply hover:bg-gray-300 outline-none h-10 px-5 py-2 rounded-lg text-white transition-colors duration-150 ease-out;
    }

    button.round {
        @apply hover:bg-gray-300 h-10 aspect-square rounded-full;
    }

    .tab {
        @apply px-6 py-1 rounded-full hover:bg-gray-500;
    }

    hr {
        @apply border-gray-300;
    }
}
