@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Instrument Sans', sans-serif;
}

@layer components {

}


input::-webkit-slider-runnable-track {
    @apply h-2 bg-gray-500 rounded-full;
}

input::-webkit-slider-thumb {
    @apply appearance-none h-2 aspect-square rounded-full outline-2 bg-gray-700 invisible;
}

input:hover::-webkit-slider-thumb {
    @apply visible;
}
