@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Instrument Sans', sans-serif;
}

@layer components {
    html {
        @apply bg-gray-700;
    }

    html, body, #root {
        @apply h-full
    }

    h1 {
        @apply text-white;
    }

    p {
        @apply text-white;
    }

    a {
        @apply text-white;
    }

    button {
        @apply text-white;
    }

    .navlink {
        @apply rounded-lg px-5 py-2;
    }
}
